{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": ["plugin:react-hooks/recommended", "prettier/@typescript-eslint", "airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "rules": {
    "import/prefer-default-export": "off"
  }
}
